[submodule "nextjs-service"]
	path = nextjs-service
	url = https://github.com/alex-kumpula/nextjs-container-example.git
	ignore = dirty
[submodule "fastapi-service"]
	path = fastapi-service
	url = https://github.com/alex-kumpula/fastapi-container-example.git
	ignore = dirty
[submodule "devcontainer-only-example"]
	path = devcontainer-only-example
	url = https://github.com/alex-kumpula/devcontainer-only-example.git
	ignore = dirty
[submodule "reactjs-service"]
	path = reactjs-service
	url = https://github.com/alex-kumpula/reactjs-container-example.git
	ignore = dirty
